Source: x11log
Section: utils
Priority: optional
Maintainer: Erik Sonnleitner <es@delta-xi.net>
Uploaders: Erik Sonnleitner <es@delta-xi.net>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5),
	cdbs,
	libcurl4-gnutls-dev,
	x11proto-core-dev,
	libx11-dev,
Homepage: http://delta-xi.net

Package: x11log
Architecture: i386 amd64
Conflicts: 
Depends: ${misc:Depends},
	libx11-6,
	libcurl3,
Description: A user-space keylogger for x11
 x11log is a tiny, non-privileged, unobtrusive local/remote keylogger for X11,
 being rather stealthy.
